@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	background-color: #e0dde5;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
}

/* #e87dc6 - pink     #bfc489 - green  #297a48 - dark green*/
